* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
====================
Grid and Setup
====================
*/

body {
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
}

header {
    height: 75px;
    background-color: #EDEDED;
    border-bottom: 2px solid lightgray
}

.main {
    display: flex;
}

.options {
    width: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
    margin: 0 auto;
    background-color: white;
    user-select: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.container {
    border: 1px solid black;
    margin-top: 50px;
}

.active {
    background-color: black;
}